@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v5/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
  position: fixed;
  font-family: 'Fredoka One';
  z-index: 1;
  margin-left: 20px;
}

header > h2 {
  font-size: 13px;
  color: #d41010;
}

.videoMask {
  position: fixed;
  font-family: 'Fredoka One';
  color: #d41010;
  
  text-align: right;
  padding: 0 20px;
  right: 0;
  top: 0;
  align-items: center;
  mix-blend-mode: screen;
  justify-content: center;
  background: white;
  cursor: default;
  z-index: -1;
  box-sizing: border-box;
  height: 100%

}
.videoMask h1{
  font-size: 22vh;
  margin: 0;
  display: inline;
  word-break: break-word;
  line-height: 1.2em;
  text-shadow: 7px 7px #000;
}

video { 
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 20px;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

section>div{
  padding: 80vh 20px 0 20px;
  text-align: right;
  line-height: 1.5em;
  height: 80vh;
  
}

section>div>h2 {
  font-family: 'Microsoft JhengHei';
  color: #d41010;
  padding-top: 80vh;
  transition: all 0.3s;
  top: 0;
  right: 20px;
}

section>div:nth-child(4) {
  background-image: radial-gradient(#fff 3px, transparent 3px);
  background-size: 12px 12px;
  background-position: 0 0, 180px 180px;
  grid-row: 4;
  grid-column: 3;
}
section>div:nth-child(5) {
  background-image: url('https://cdn.pazzo.com.tw/P_MAINPAGE_W/2018SS/080818/effect/3_purple-01.jpg');
  mix-blend-mode: multiply;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat
  
}
section>div:nth-child(6) {
  background-image: url('https://cdn.pazzo.com.tw/P_MAINPAGE_W/2018SS/080818/03.jpg');
  mix-blend-mode: multiply
}
section>div:nth-child(7) {
  background-image: url('https://cdn.pazzo.com.tw/P_MAINPAGE_W/2018SS/080818/effect/2_pink-02.jpg');
  mix-blend-mode: multiply
}

section>div:nth-child(8) {
  background-image: url('https://cdn.pazzo.com.tw/P_MAINPAGE_W/2018SS/080818/effect/2_pink-03.jpg');
  mix-blend-mode: multiply
}

section>div:nth-child(9) {
  background-image: url('https://cdn.pazzo.com.tw/P_MAINPAGE_W/2018SS/080818/effect/4_yellow-01.jpg');
  mix-blend-mode: multiply
}

.Opening{
  padding-bottom: 200vh;
  position: relative;
}

.About{
  position: relative;
  z-index: 1;
  font-family: 'Microsoft JhengHei';
  padding: 0 20px;
  overflow: hidden;
}

.About > p,.About > h3,.About > ul{
  width: 62vw;
  float: right;
}

.About > h3{
  color: #d41010;
  font-family: 'Fredoka One'
}

.About > p{
  font-size: 13px;
  line-height: 1.5em
}

.About > ul {
  overflow: hidden;
}

.About > ul > li{
  display: block;
  width: 33.3%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  font-size: 11px;
}

.About > ul > li > a {
  display: block;
}

