@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptpg8zYS_SKggPNyCgwzqZ_AtCb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*::selection {
  background-color: rgb(251, 255, 0)
}

header {
  position: fixed;
  font-family: 'Raleway';
  z-index: 1;
  margin: -20px 0 0 20px;
  z-index: 5;
}

header > h2 {
  font-size: 13px;
  color: #df4051;
  mix-blend-mode: normal;
  margin: -30px 0 0 0;
  text-align: center
}

.rotateGlasses{
  width: 150px;
  background-image: url(../img/sd1.png);
  background-size: auto 100%;
  background-position-x: 0px
}

.videoMask {
  position: fixed;
  font-family: 'Raleway';
  font-weight: 900;
  font-style: italic;
  color: #df4051;
  
  text-align: right;
  padding: 0 20px;
  right: 0;
  top: 0;
  align-items: center;
  mix-blend-mode: darken;
  justify-content: center;
  background:#fff;
  cursor: default;
  z-index: 2;
  box-sizing: border-box;
  height: 100%

}
.videoMask h1{
  font-size: 22vh;
  margin: 0;
  display: inline;
  word-break: break-word;
  line-height: 1.2em;
  text-shadow: 7px 7px #000;
}

video { 
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
  z-index: 5 ;
  mix-blend-mode: screen;
}

section>div{
  padding: 80vh 20px 0 20px;
  text-align: right;
  line-height: 1.5em;
  height: 80vh;
  /*position: relative;
  z-index: 2;*/
  /*mix-blend-mode: darken;*/
}

section>div>h2 {
  font-family: 'Microsoft JhengHei';
  color: #fff;
  /*padding-top: 80vh;*/
  top: 80vh;
  right: 20px;
  z-index: 999;
  background-color: #df4051;
  box-shadow: 7px 7px #000;
  opacity: 0;
  margin: 0;
}

section>div:nth-child(3) {
  padding: 0;
  background-image: radial-gradient(#df4051 3px, transparent 3px);
  background-size: 12px 12px;
  background-position: 0 0, 180px 180px;
  grid-row: 4;
  grid-column: 3;
}


section>div:nth-child(4) {
  background-image: radial-gradient(#b9f1f1 3px, transparent 3px);
  background-size: 12px 12px;
  background-position: 0 0, 180px 180px;
  grid-row: 4;
  grid-column: 3;
}



section>div:nth-child(5) {
  background-image: url('../img/bg0.jpg');

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat
  
}
section>div:nth-child(6) {
  background-image: url('../img/bg1.jpg');

}
@keyframes gotopscrool {
  100%{
    background-position-y: 250px
  }
}

@keyframes gotopscrool_goleft {
  100%{
    background-position-x: -374px
  }
}

section>div:nth-child(7) {
  background-image:  url('../img/bg2.gif');
  background-color: #ff4b5e;
  background-repeat: repeat-y;
  background-attachment: fixed;
  animation: gotopscrool 5s infinite linear
}

section>div:nth-child(8) {
  background-image: url('../img/bg3.jpg');
  background-position: center;
  background-size: cover
}

section>div:nth-child(9) {
  background: url('../img/20180811_170405.gif') center fixed;
}

section>div:nth-child(10) {
  background: url('../img/git.png') repeat-x left center fixed #d5a48e;
  animation: gotopscrool_goleft 5s infinite linear
}

section>div:nth-child(11) {
  background: url('../img/bg4.jpg') center;
}

.Opening{
  padding-bottom: 150vh;
  position: relative;
}

.About{
  position: relative;
  z-index: 1;
  font-family: 'Microsoft JhengHei';
  padding:  20px;
  overflow: hidden;
  width: 62vw;
  float: right
}

.About > p,.About > h3,.About > ul{
}

.About > h3{
  color: #df4051;
  font-family: 'Raleway'
}

.About > p{
  font-size: 13px;
  line-height: 1.5em
}

.About > ul {
  overflow: hidden;
  padding: 0;
  margin: 0 -10px 60px -10px;
}

.About > ul > li{
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 11px;
  line-height: 1.5em;
  vertical-align: text-top
}

.About > ul > li > a {
  display: block;
  padding-bottom: 5px;
  color: #df4051;
  text-decoration: none;
  font-weight: bold
}

.About > p > a {
  color: #df4051;
  text-decoration: none;
}

.About > ul > li > a > img{
  width: 100%;
  transition: filter 0.3s;
}

.About > ul > li > a:hover img {
  filter:brightness(.8);
}
footer {
  position: fixed;
  bottom: 20px;
  width: 150px;
  left: 20px;
  text-align: center;
  z-index: 5;
}
.About > ul > li > ul{
  padding: 0 0 0 20px;
}

.go{
  width: 45px;
  background: none;
  border: none;
  outline: none
}

@keyframes jump{
  0%{
    margin-bottom: 0px;
  }
  100%{ margin-bottom: 15px}
}


.go img{
  width: 100%;
  display: block;
  animation: jump 0.8s ease-out infinite alternate;
  transition: transform 0.3s 
}


.go::after{
  content: 'keep scroll';
  color: #df4051;
  font-family: 'Raleway';
  font-size: 11px;
  display: block;
  margin-top: -5px;
}
.go.top::after{
  content: 'back to top'
}

.go.top img{
  transform: rotate(180deg)
}

@media screen and (orientation: portrait) and (max-width: 1024px){
  header > h2{
    display: none
  }
  .rotateGlasses{
    width: 100px;
  }
  .videoMask, video{
    padding-top: 15vh
  }
  .videoMask h1{
    font-size: 15vw;
  }
  section>div>h2{
    font-size: 2.5vh;
    max-width: 80vw;
    top: auto;
    bottom: 15vh;
  }
  footer{
    width: 40px
  }
  .About{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 100px 20px
  }
  .About > ul{
    margin: 0 0 60px 0;
  }
  .About > ul > li{
    width: 100%;
    padding: 10px 0;
  }
}
